.createGroupDiv {
  padding: 1rem;
  width: 30rem;
  height: 12rem;
}

.createGroupDiv1,
.createGroupDiv2,
.createGroupDiv3,
.createGroupDiv4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.createGroupDiv2,
.createGroupDiv3 {
  font-weight: 600;
  display: flex;
}

.createGroupDiv2 input {
  width: 60%;
  height: 1.5rem;
  border: 0.5px solid gray;
  border-radius: 12px;
  margin-left: 1rem;
  padding-left: 1rem;
  outline: none;
}

.createGroupDiv4 button {
  float: right;
  background-color: #001f8b;
  color: white;
  width: 124px;
  height: 28px;
  margin-right: 2.5rem;
  border: 1p solid #001f8b;
  border-radius: 8px;
  cursor: pointer;
}

.borderColor {
  border: 2px solid black;
}

@media (max-width: 576px) {
  .createGroupDiv {
    display: contents;
  }

  .createGroupDiv1,
  .createGroupDiv2,
  .createGroupDiv3,
  .createGroupDiv4 {
    margin: 20px;
  }

  .createGroupDiv2 input {
    width: auto;
  }

  .createGroupDiv4 {
    padding-bottom: 2rem;
    margin-left: 6rem;
  }
  .createGroupDiv4 button {
    width: 100%;
  }
}
